{% extends '@App/front/base.html.twig' %}

{% block title %}УЗТС | {{ machine.model }} {% endblock %}



{% block stylesheets %}
{{ parent() }}

    <style>
        table {
            .table-responsive;
            .table;
            .table-striped;
            .table-bordered;
        }
    </style>
{% endblock %}


{% block body %}

    {% include '@App/front/common/header.html.twig' with {headerBlock: 'catalog'} %}

    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="title title-large">{{ machine.name }}</h2>
                    <h4 class="title title-small catalog__model">Модель <span>{{ machine.model }}</span></h4>
                    <img src="{{ asset('uploads/images/machine/') }}{{ machine.image }}" alt=""
                         class="img-responsive img-m">
                    {{ machine.description|raw }}
                </div>
                <div class="col-md-4">
                    {{ render(controller(
                        'AppBundle:Category:block'
                    )) }}
                </div>
            </div>
        </div>
        {% include '@App/front/common/footer.html.twig' %}
    </main>

{% endblock %}