<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer__logo-wrap">
                    <a href="{{ path('index') }}"><img src="{{ asset('assets/img/logo.png') }}" alt="" class="img-responsive"></a>
                </div>
                <p class="footer__copyright">Ульяновский завод тяжёлых и уникальных станков</p>
            </div>
            <div class="col-md-9">
                <ul class="footer__nav">
                    <li><a href="{{ path('catalog') }}">Каталог</a></li>
                    <li><a href="{{ path('about') }}" class="header__nav-active">О заводе</a></li>
                    <li><a href="{{ path('news') }}">Новости</a></li>
                    <li><a href="{{ path('contacts') }}">Контакты</a></li>
                </ul>
                <div class="row">
                    <div class="col-md-4">
                        <p class="footer__address">Адрес:<br>
                            <i class="fa fa-map-marker"></i> 432042, г. Ульяновск, ул. Герасимова д.10-к, стр.2</p>
                    </div>
                    <div class="col-md-4">
                        <p class="footer__phone">Телефон в г.Ульяновск:<br>
                            <i class="fa fa-phone"></i> +7 8422 36 03 24<br>
                            <i class="fa fa-phone"></i> +7 8422 61 73 60
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="footer__phone-2">Телефон в г.Москва:<br>
                            <i class="fa fa-phone"></i> +7 495 234 88 80<br>
                            E-mail: market@uzts.ru</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
