<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__logotype-wrap">
                <a href="{{ path('index') }}"><img src="{{ asset('assets/img/logo.png') }}" alt="" class="img-responsive"></a>
            </div>
            <ul class="header__nav">
                <li><a href="{{ path('catalog') }}">Каталог</a></li>
                <li><a href="{{ path('about') }}">О заводе</a></li>
                <li><a href="{{ path('news') }}">Новости</a></li>
                <li><a href="{{ path('contacts') }}">Контакты</a></li>
            </ul>
            <a href="#" class="header__hamburger hidden-lg"><span></span></a>
            <p class="header__contacts">+7 (8422) 36-03-24</p>
        </div>
    </div>
    <div class="header__center">
        <h1 class="header__title">Ульяновский завод</h1>
        <p class="header__subtitle">Тяжёлых и уникальных станков</p>
    </div>
</header>